<!-- navbar -->
<header>
  <nav class="navbar navbar-expand-lg bg-clr-pri-shade">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        href="https://github.com/NitheeshKani/Angular-project"
      >
        <img
          src="assets/img/company/logo.png"
          alt="logo"
          class="nav-brand-logo"
        />
        Mountain
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/Homepage"
              >Home <span class="sr-only">(current)</span> </a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/AboutUs">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Shop
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/ShopLists">Shop list</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/ShopDetails"
                  >Shop details</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/ContactUs">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 clr-pri-shade"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
