<!-- contacts -->
<section class="bg-clr-sec-shade">
  <div class="container py-5">
    <div>
      <h1 class="display-1 fw-bold text-center">Contact Us</h1>
      <hr class="border-top border-dark border-3" />
      <p class="h3 text-center">
        We'd <i class="fa-regular fa-heart"></i> to help!
      </p>
      <p class="text-center">
        We like to create things with fun, open-minded people. Feel free to say
        hello!
      </p>
    </div>
    <div class="row m-3">
      <div class="col-sm">
        <form>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="InputName"
              aria-describedby="emailHelp"
              placeholder="Your Name"
            />
          </div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="InputEmail"
              aria-describedby="emailHelp"
              placeholder="Email"
            />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              placeholder="Message"
              id="floatingTextarea2"
              style="height: 100px"
            ></textarea>
          </div>

          <div class="text-center mt-5">
            <button type="submit" class="btn btn-outline-dark px-5">
              Send
            </button>
          </div>
        </form>
      </div>
      <div class="col-1"></div>
      <div class="col-sm">
        <div class="container text-center">
          <p><i class="fa-solid fa-location-dot"></i> SIT <br /></p>
          <p><i class="fa-solid fa-phone"></i> (617)312-2190<br /></p>
          <p><i class="fa-solid fa-envelope"></i> mountain@mail.io<br /></p>
          <hr class="border-top border-3 border-dark" />
          <p class="h3">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-google-plus-g"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-solid fa-wifi"></i>
          </p>
          <p>Grover Web Design on Thumbstack</p>
        </div>
      </div>
    </div>
  </div>
</section>
