<!-- Navbar-Secttion -->
<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <img src="assets/images/company/logo.png" width="50" height="50"
        alt="">SpiderMan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
    </div>
  </nav>
</section>
<!--navbar done-->
<section>
  <img src="assets/images/company/banner.jpg" alt="" class="img-fluid banner">
</section>

<!-- About us section -->
<section>
  <div class="container-fluid about-me-container">
    <div class="container">
      <div class="row">
        <!-- about-me box -->
        <div class="col-lg-6 col-md-6 col-12">
          <div>
            <h3 class="about-me">About Me</h3>
            <p class="about-me-paragraph">I am Peter Parker, a high school student turned hero.
              With great power comes great responsibility.
              I fight crime, protect the innocent, and strive to make New York City a better place.</p>
          </div>
        </div>
        <!-- about-me img -->
        <div class="col-lg-6 col-md-6 col-12">
          <div>
            <img src="assets/images/company/photo.jpg" alt="" class="img-fluid about-me-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About us section done-->

<!-- products -->
<section>
  <div class="product-list">
    <h3 class="about-me">Products</h3>
    <div class="container">
      <div class="row">
        <!-- product list -->
        <div class="col-lg-4 col-md-4 col-12 protect-container">
          <img src="assets/images/products/download (1).jpg" alt="" class="img-fluid product-img">
          <h5 class="product-name">Outfit</h5>
          <p>Introducing the Spider-Man Ultimate Hero Costume - the perfect ensemble for aspiring web-slingers and
            devoted fans of the iconic Marvel superhero.
            Designed with meticulous attention to detail, this officially licensed product captures the essence of
            Spider-Man's classic and dynamic appearance.
          </p>

          <p class="price">$<del> 1000</del> 999</p>
        </div>
        <div class="col-lg-4 col-md-4 col-12 protect-container">
          <img src="assets/images/products/download (2).jpg" alt="" class="img-fluid product-img">
          <h5 class="product-name">venom</h5>
          <p>Introducing the Venom Symbiote Deluxe Costume - a thrilling and menacing ensemble inspired by the iconic
            Marvel anti-hero, Venom.
            This officially licensed product captures the dark essence of Venom's symbiotic nature and promises an
            immersive experience for fans of the notorious character.
          </p>

          <p class="price">$<del> 10000</del> 7500</p>
        </div>
        <div class="col-lg-4 col-md-4 col-12 protect-container">
          <img src="assets/images/products/download.jpg" alt="" class="img-fluid product-img">
          <h5 class="product-name">Web Shooter</h5>
          <p>Spider-Man's web-shooters are twin devices worn on his wrists beneath the gauntlets of his costume.
            These devices can shoot thin strands of a special "web fluid" at high pressure.
            The fluid is described as a "shear-thinning" substance, meaning it can stretch and become thinner under
            stress.
          </p>

          <p class="price">$<del> 250</del> 200</p>
        </div>
        <div class="col-lg-4 col-md-4 col-12 protect-container">
          <img src="assets/images/products/images (1).jpg" alt="" class="img-fluid product-img">
          <h5 class="product-name">Controller</h5>
          <p>Introducing the Spider-Man Limited Edition PlayStation Controller - a thrilling and immersive gaming
            accessory designed for fans of the iconic Marvel superhero.
            Immerse yourself in the world of web-slinging adventures with this officially licensed controller that
            captures the essence of Spider-Man's dynamic and heroic presence.
          </p>

          <p class="price">$<del> 100</del> 99</p>
        </div>
        <div class="col-lg-4 col-md-4 col-12 protect-container">
          <img src="assets/images/products/images (3).jpg" alt="" class="img-fluid product-img">
          <h5 class="product-name">plushies</h5>
          <p>Introducing the Spider-Man Plush Collection - a cuddly and huggable assortment of officially licensed
            plush toys inspired by the beloved Marvel superhero.
            Perfect for fans of all ages, these Spider-Man plushies bring the friendly neighborhood hero to life in a
            soft and adorable form.
          </p>

          <p class="price">$<del> 50</del> 35</p>
        </div>
        <div class="col-lg-4 col-md-4 col-12 protect-container">
          <img src="assets/images/products/images (2).jpg" alt="" class="img-fluid product-img">
          <h5 class="product-name">funko Pop</h5>
          <p>Introducing the Spider-Man Funko Pop! Vinyl Figure - a miniature and collectible version of the iconic
            Marvel superhero.
            This officially licensed Funko Pop! captures the essence of Spider-Man in a stylized and adorable form,
            making it a must-have for fans and collectors alike.
          </p>
          <p> </p>
          <p class="price">$<del> 1000</del> 799</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<router-outlet></router-outlet>