<!-- carasol -->
<section>
  <div
    id="sofa_carousel"
    class="carousel slide carousel-fade"
    data-bs-ride="false"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#sofa_carousel"
        data-bs-slide-to="0"
        class="active bg-clr-accent"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#sofa_carousel"
        data-bs-slide-to="1"
        class="bg-clr-accent"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/img/banners/image.png"
          class="d-block w-100"
          alt="white sofa"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="fw-bold">We're not a normal furniture company</h5>
          <p>
            Normal was never good enough. Frustrated by compromises between
            quality, affordability, and convenience, our founders started Burrow
            with a new approach to furniture.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets/img/banners/image (2).png"
          class="d-block w-100"
          alt="green sofa"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="fw-bold">We're not a normal furniture company</h5>
          <p>
            Normal was never good enough. Frustrated by compromises between
            quality, affordability, and convenience, our founders started Burrow
            with a new approach to furniture.
          </p>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#sofa_carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#sofa_carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<!-- breaker -->
<section>
  <div class="d-flex bg-clr-sec-shade">
    <img
      src="assets/img/company/breaker img.png"
      alt="menu preview"
      class="img-fluid"
    />
  </div>
</section>

<!-- demos -->
<section>
  <div class="card cshowhim">
    <img
      src="assets/videos/D_Nomad-GIF-Sharpened.gif"
      class="card-img-top"
      alt="sofa assembling"
    />
    <div class="card-body card-img-overlay cshowme pt-5">
      <h1 class="card-title display-3 fw-bold">Beautiful designs...</h1>
      <p class="card-text">
        Our studio anchors their practice in<br />
        two of the most sought-after design movements in history: American
        Mid-<br />Century Modernism<br />
        and contemporary Scandinavian style.<br />
        These enduring staples stay fresh<br />
        without feeling too trendy.
      </p>
    </div>
  </div>
  <div class="card text-end cshowhim">
    <img
      src="assets/videos/D_Carta-Coffee-Table-GIF-Sharpened.gif"
      class="card-img-top"
      alt="Coffee-Table-design"
    />
    <div class="card-body card-img-overlay cshowme pt-5">
      <h1 class="card-title display-3 fw-bold">...that work well...</h1>
      <p class="card-text">
        Style is nothing without substance, which is<br />
        why how things work is every bit as<br />
        important as what they look like. From the<br />
        modular assembly, to built-in chargers, to<br />
        multipurpose trays, we're always looking to<br />
        add delightful, functional features.
      </p>
    </div>
  </div>
  <div class="card cshowhim">
    <img
      src="assets/videos/10_D-Index-GIF.gif"
      class="card-img-top"
      alt="shelf-arraning"
    />
    <div class="card-body card-img-overlay cshowme pt-5">
      <h1 class="card-title display-3 fw-bold">...and last a long time</h1>
      <p class="card-text">
        “Fast furniture” is a fast lane to a landfill, but unfortunately, too<br />
        many people are stuck with that compromise. Instead, we use<br />
        premium, durable materials so that our products can last for years<br />
        and years, and expand over time.
      </p>
    </div>
  </div>
</section>

<!-- required -->
<section>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <!-- 1st box -->
      <div class="col-md-12 m-3">
        <div class="row">
          <div class="col-md-4 about-border">
            <h1 class="display-3 fw-bold">"LEGIT" Is A Family</h1>
          </div>
          <div class="col-md-4">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni
              saepe, dolorem omnis ducimus dolores incidunt debitis suscipit
              iste dignissimos vitae nihil sequi sint aspernatur, earum, nostrum
              a? Deserunt, tenetur quod!
            </p>
          </div>
          <div class="col-md-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              laboriosam ex, impedit voluptates vitae accusantium aspernatur
              accusamus quos voluptatibus quae facilis id modi ut alias
              similique velit. Neque, similique atque.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- 2nd box-->
      <div class="col-sm about-border shadow-lg m-1">
        <h1 class="display-5 fw-bold">01</h1>
        <h2>Professional</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus. Etiam porta sem malesuada magna mollis
          euismod. Donec sed odio dui.
        </p>
      </div>
      <div class="col-sm about-border shadow-lg m-1">
        <h1 class="display-5 fw-bold">02</h1>
        <h2>Focused</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus. Etiam porta sem malesuada magna mollis
          euismod. Donec sed odio dui.
        </p>
      </div>
      <div class="col-sm about-border shadow-lg m-1">
        <h1 class="display-5 fw-bold">03</h1>
        <h2>Serious</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
          dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
          fermentum massa justo sit amet risus.
        </p>
      </div>
    </div>
  </div>
</section>
