<section>
    <div class="container">
        <p class="h4 mt-4 text-center">Peoples Choice</p>
       <div class="row">
          <!-- product card 1-->
          <div class="col col-lg-4 d-flex justify-content-center mt-4">
             <div class="card showhim" style="width: 18rem;">
                <img src="assets/img/products/sofa(1).png" class="card-img-top" alt="premium sofa">
                <div class="card-body card-img-overlay showme pt-5">
                   <h5 class="card-title">
                      <span class="badge bg-primary">Sofa</span>
                      <span class="badge bg-warning">Premium</span>
                   </h5>
                   <p class="card-text"><b class="txt-alt"> Some quick example text to build on the card title and
                         make up the bulk of the
                         card's content.</b></p>
                </div>
             </div>
          </div>

          <!-- product card 2-->
          <div class="col col-lg-4 d-flex justify-content-center mt-4">
             <div class="card showhim" style="width: 18rem;">
                <img src="assets/img/products/sofa(2).png" class="card-img-top" alt="luxury sofa">
                <div class="card-body card-img-overlay showme pt-5">
                   <h5 class="card-title">
                      <span class="badge bg-primary">Sofa</span>
                      <span class="badge bg-clr-primary">Luxury</span>
                   </h5>
                   <p class="card-text"><b class="txt-alt"> Some quick example text to build on the card title and
                         make up the bulk of the
                         card's content.</b></p>
                </div>
             </div>
          </div>

          <!-- product card -->
          <div class="col col-lg-4 d-flex justify-content-center mt-4">
             <div class="card showhim" style="width: 18rem;">
                <img src="assets/img/products/sofa(3).png" class="card-img-top" alt="elegant sofa">
                <div class="card-body card-img-overlay showme pt-5">
                   <h5 class="card-title">
                      <span class="badge bg-primary">Sofa</span>
                      <span class="badge bg-success">Elegant</span>
                   </h5>
                   <p class="card-text"><b class="txt-alt"> Some quick example text to build on the card title and
                         make up the bulk of the
                         card's content.</b></p>
                </div>
             </div>
          </div>

          <!-- product card -->
          <div class="col col-lg-4 d-flex justify-content-center mt-4">
             <div class="card showhim" style="width: 18rem;">
                <img src="assets/img/products/shelf.png" class="card-img-top" alt="shelf">
                <div class="card-body card-img-overlay showme pt-5">
                   <h5 class="card-title">
                      <span class="badge bg-secondary">Shelf</span>
                      <span class="badge bg-clr-secondary">Storage</span>
                   </h5>
                   <p class="card-text"><b class="txt-alt"> Some quick example text to build on the card title and
                         make up the bulk of the
                         card's content.</b></p>
                </div>
             </div>
          </div>

          <!-- product card -->
          <div class="col col-lg-4 d-flex justify-content-center mt-4">
             <div class="card showhim" style="width: 18rem;">
                <img src="assets/img/products/bed.png" class="card-img-top" alt="bed">
                <div class="card-body card-img-overlay showme pt-5">
                   <h5 class="card-title">
                      <span class="badge bg-info">Beds</span>
                      <span class="badge bg-success">Elegant</span>
                   </h5>
                   <p class="card-text"><b class="txt-alt"> Some quick example text to build on the card title and
                         make up the bulk of the
                         card's content.</b></p>
                </div>
             </div>
          </div>

          <!-- product card -->
          <div class="col col-lg-4 d-flex justify-content-center mt-4">
             <div class="card showhim" style="width: 18rem;">
                <img src="assets/img/products/chairs.png" class="card-img-top" alt="chair">
                <div class="card-body card-img-overlay showme pt-5">
                   <h5 class="card-title">
                      <span class="badge bg-clr-accent">Chairs</span>
                      <span class="badge bg-warning">Premium</span>
                   </h5>
                   <p class="card-text"><b class="txt-alt"> Some quick example text to build on the card title and
                         make up the bulk of the
                         card's content.</b></p>
                </div>
             </div>
          </div>

       </div>
    </div>
 </section>
