<a class="d-grid gap-2 my-4 mx-3" href="https://github.com/NitheeshKani/Angular-project.git">
  <button class="btn btn-primary bg-clr-accent" type="button">
      <i class="fa-brands fa-github"></i> github link <i class="fa-solid fa-paperclip"></i>
  </button>
</a>

<!-- footer -->
<footer class="row row-cols-5 py-5 border-top  p-3 bg-clr-pri-shade">
  <div class="col col-2">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="assets/img/company/logo.png" alt="logo" class="nav-brand-logo">
      </a>
      <p class="text-muted">© 2024</p>
  </div>

  <div class="col">
      <h5>About Us</h5>
      <p class="nav flex-column">
          Normal was never good enough. Frustrated by compromises between quality, affordability, and convenience,
          our
          founders started Burrow with a new approach to furniture.
      </p>
      <a href="https://burrow.com/living-room/seating">
          <button class="btn bg-clr-primary txt-alt mt-3">
              Shop and See
          </button>
      </a>
  </div>

  <div class="col">
      <h5>Links</h5>
      <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted clr-accent">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted clr-accent">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted clr-accent">Shop List</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted clr-accent">Contact Us</a></li>
      </ul>
  </div>

  <div class="col">
      <h5>Contacts</h5>
      <ul class="nav flex-column">
          <li class="nav-item mb-2">
              <p><i class="fa-solid fa-user"></i><b class="clr-accent"> Name: </b>NitheeshKani</p>
          </li>
          <li class="nav-item mb-2">
              <p><i class="fa-solid fa-phone"></i><b class="clr-accent"> Phone: </b>9842198421</p>
          </li>
          <li class="nav-item mb-2">
              <p><i class="fa-solid fa-at"></i><b class="clr-accent"> Mail: </b>nitheesh@mail.com</p>
          </li>
          <li class="nav-item mb-2">
              <p><i class="fa-solid fa-location-dot"></i><b class="clr-accent"> visit: </b>SIT college</p>
          </li>
      </ul>
  </div>
</footer>